<header class="header section--wrapper container">
  <div class="content-container">
    <div id="logo" class="header-component">
      <div class="site-logo">
        <a href="#" title="Home" rel="home">
          <img src="img/svg/logo.svg" alt="Home" class=""/>
        </a>
        <div class="site-name">
          <div>
            <p>Linked Open Data</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="breadcrumb section--default" aria-labelledby="system-breadcrumb">
  <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
  <ol class="content-container breadcrumb">
    <li><a href='https://stad.gent/'>Stad.gent</a></li>
    <li>{{#link-to 'index'}}Linked Open Data{{/link-to}}</li>
    {{#each breadCrumb as |b|}}
      <li>{{#link-to b.path}}{{capitalize b.name}}{{/link-to}}</li>
    {{/each}}
  </ol>
</nav>

<main id="main container">
  <div class="wrapper">
    <div class="section--default">
      <div class="content-container">
        {{outlet}}
      </div>
    </div>
  </div>
</main>
<footer class="footer section--wrapper container" role="contentinfo"
        data-columns="4">
  <div class="content-container">
    <div class="row">
      <div class="footer--column">
        <div class="section--accent island dg-default-block">
          <h2>Gentinfo</h2>
          <ul class="no-style">
            <li><a class="phone" href="tel:+3288888888">08 888 88 88 - mo - sat
              from 8-19u</a></li>
            <li><a class="email" href="mailto:gentinfo@stad.gent">gentinfo@stad.gent</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer--column">
        <div class="dg-block-post-address island">
          <h3>Mailing address</h3>
          <p class=""><span>City of Ghent</span><br>
            <span> Botermarkt 1</span><br>
            <span>9000 Ghent</span></p>
        </div>
        <ul class="dg-block-links island">
          <li>
            <a
              href="https://stad.gent/werken-ondernemen/werken/werken-bij-de-stad-gent/vacatures-en-solliciteren">Vacancies</a>
          </li>
          <li>
            <a
              href="https://stad.gent/over-gent-en-het-stadsbestuur/over-gent/kaarten-cijfers-en-data/gent-kaart/stadsplan">City
              plan</a></li>
          <li><a href="http://persruimte.stad.gent/">Press room City of
            Ghent</a></li>
          <li>
            <a
              href="https://stad.gent/over-gent-en-het-stadsbestuur/vragen-suggesties-en-meldingen/juridische-info-en-privacy">Legal
              info and privacy</a></li>
        </ul>
      </div>
      <div class="footer--column">
        <div class="dg-blocks-social island">
          <h3>Volg Stad Gent op</h3>
          <ul class="no-style">
            <li>
              <a href="https://www.facebook.com/stadsbestuurgent"
                 class="facebook">stadsbestuurgent</a>
            </li>
            <li>
              <a href="https://twitter.com/stadgent"
                 class="twitter">@Stadgent</a></li>
            <li>
              <a href="https://www.linkedin.com/company/stad-gent"
                 class="linkedin">Stad Gent</a></li>
            <li>
              <a href="https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw"
                 class="youtube">YouTube
                Stad Gent</a></li>
            <li><a href="https://www.instagram.com/stadgent/" class="instagram">@stadgent</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer--column">
        <div class="db-block-partnership">
          <p class="">In cooperation with <i class="icon-digipolis"></i>
            Digipolis</p>
        </div>
      </div>
    </div>
  </div>
</footer>

