<div class="preview-inner-inner-container">
  <p>De Stad Gent biedt al een tijdje open data aan. Dit zijn gegevens die machine-leesbaar zijn en geschikt voor hergebruik in toepassingen die niet door de stad zelf worden ontwikkeld. Voor het eerst zal Gent nu ook “Linked Open Data” aanbieden. Dit is open data die op een zodanige manier werd gestructureerd dat het heel gemakkelijk is om verschillende zaken aan elkaar te koppelen. Deze koppeling is voor de zaken die Stad Gent zelf beheert al grotendeels gebeurd, maar het staat iedereen vrij deze uit te breiden.</p>

  <ul class="teasers">
    <li>
      <div class="teaser">
        {{#link-to 'datasets' class="teaser__overlay-link" tabindex="-1" aria-hidden="true"}}Datasets{{/link-to}}
        <div class="teaser__content teaser__content--section">
          <h3 id="uid0">Datasets</h3>

          <p class="">Een overzicht van de datasets die beschikbaar zijn als linked open data.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="teaser">
        {{#link-to 'sparql' class="teaser__overlay-link" tabindex="-1" aria-hidden="true"}}SPARQL endpoint{{/link-to}}
        <div class="teaser__content teaser__content--section">
          <h3 id="uid0">SPARQL endpoint</h3>

          <p class="">Dit is een geavanceerde zoekmethode die je via HTTP gestructureerde vragen laat stellen. Zo kan je bijvoorbeeld zoeken naar alle artikelen gelinkt aan een bepaalde locatie of schepen. </p>
        </div>
      </div>
    </li>
  </ul>
</div>
{{outlet}}
